#config file for bandwidth limitor
#total port number to filter
NO_PORT= 3
#=[Port_Number],[UploadLimit],[DownloadLimit],[Latency]
PORT1=[5000,1024,1024,245]
PORT2=[5002,1024,1024,512]

PORT3=[5003,1024,1024,1024]
#glibc path in your system
LIBC_PATH=[/lib/x86_64-linux-gnu/libc.so.6]
#BELOW LINES FUTURE USE
#SERVER_IP=[127.0.0.1]
#SERVER_PORT=[8000]
